* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.js-products {
    flex-wrap: wrap;
}

.js-products .card {
    max-width: 300px;
    cursor: pointer;
    margin: 0 10px 30px 10px;
}

.js-products .card .title {
    font-size: 30px;
}

.js-products .card .price {
    font-size: 24px;
}

.carts-table {
    width: 100%;
}

.carts-table img {
    max-width: 70px;
    padding: 2px;
}

.cart-table .qty {
    display: flex;
}

.cart-table .qty span {
    width: 40px;
    cursor: pointer;
}

.cart-table .qty input {
    width: 70px;
    border: 1px solid #3073d6;
    outline: none;
}

.cart-table .price {
    font-size: 25px;
}

.cart-table .trash {
    padding: 30px 15px;
    cursor: pointer;
    font-size: 20px;
    color: red;
    border-left: 2px solid white;
}

.carts-btns, .carts-total {
    margin-top: 20px;
    font-weight: 700;
    font-size: 32px;
}

.carts-btns button{
    width: 100%;
    margin-bottom: 10px;
}

.carts-block {
    height: 500px;
    overflow-y: auto;
}

.navbar-block a, li a{
    color: #090B26;
}

.product-image {
    width: 80px;
    height: 80px;
}

.modal-hide, .modal-hide-change {
    display: none;
    transition: all 0.8s ease;
}

.modal-block {
    background-color: #000000bb;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-popup {
    width: 600px;
    min-height: 200px;
    background-color: #fff;
    padding: 15px;
    margin: 100px auto 0;
    animation: appear 1s ease;
}

.modal-popup .fa-close {
    cursor: pointer;
    font-size: 25px;
}

.modal-popup .modal_title {
    font-size: 30px;
    font-weight: 500;
}

.js-change-paid-input {
    font-size: 50px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


